<h1>New bookmark</h1>

<%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.input :movie_id, collection: Movie.all, label: "Choose a movie" %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to list", list_path(@list) %>
